.flex-1 img {
  border-radius: 5px;
  width: 100%;
}
.first-section {
  background: #cfc3e9;
  box-shadow: 10px 10px 20px rgba(22, 27, 29, 0.25), -10px -10px 20px #fafbff;
  border-radius: 10px;
}
.flex-onee {
  display: none;
}
.flex1 h2,
.flex2 h2,
.flex-2 h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 48px;
  color: #573e8d;
}
.flex1 p,
.flex2 p,
.flex-2 p,
.flexbox3 p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: start;
  color: #573e8d;
}
.flexbox3 {
  background: #cfc3e9;
  box-shadow: 10px 10px 20px rgba(22, 27, 29, 0.25), -10px -10px 20px #fafbff;
  border-radius: 10px;
}
.article-div p, .flexbox3 p  {
  text-align: justify;
}
.flexbox3-h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #573e8d;
}
@media (min-width: 768px) {
  .flex-1 img {
    display: none;
  }
  .flex-onee {
    display: block;
  }
  .flex-onee img {
    border-radius: 5px;
    width: 100%;
  }
  .article-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .flex1,
  .flex-2,
  .flex2 {
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .flex1 h2,
  .flex2 h2,
  .flex-2 h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
  }
  .flex1 p,
  .flex2 p,
  .flex-2 p,
  .flexbox3 p {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
  }
}
